	@font-face {
		font-family: "Gotham";
		src: url("http://fonts4web.ru/fonts/GothamProRegular/GothamProRegular.eot");
		src: url("http://fonts4web.ru/fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
		url("http://fonts4web.ru/fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
		url("http://fonts4web.ru/fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
	}
	
	@font-face {
		font-family: "Gotham";
		src: url("http://fonts4web.ru/fonts/GothamProBold/GothamProBold.eot");
		src: url("http://fonts4web.ru/fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
		url("http://fonts4web.ru/fonts/GothamProBold/GothamProBold.woff") format("woff"),
		url("http://fonts4web.ru/fonts/GothamProBold/GothamProBold.ttf") format("truetype");
		font-style: normal;
		font-weight: Bold;
	}
	
	@font-face {
		font-family: "Gotham";
		src: url("http://fonts4web.ru/fonts/GothamProBlack/GothamProBlack.eot");
		src: url("http://fonts4web.ru/fonts/GothamProBlack/GothamProBlack.eot?#iefix")format("embedded-opentype"),
		url("http://fonts4web.ru/fonts/GothamProBlack/GothamProBlack.woff") format("woff"),
		url("http://fonts4web.ru/fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
		font-style: normal;
		font-weight: Black;
	}

	@font-face {
		font-family: "Gotham";
		src: url("http://fonts4web.ru/fonts/GothamProLight/GothamProLight.eot");
		src: url("http://fonts4web.ru/fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
		url("http://fonts4web.ru/fonts/GothamProLight/GothamProLight.woff") format("woff"),
		url("http://fonts4web.ru/fonts/GothamProLight/GothamProLight.ttf") format("truetype");
		font-style: normal;
		font-weight: Light;
	}



	
	

	@font-face {
		font-family: "Gotham";
		src: url("http://fonts4web.ru/fonts/GothamProMediumItalic/GothamProMediumItalic.eot");
		src: url("http://fonts4web.ru/fonts/GothamProMediumItalic/GothamProMediumItalic.eot?#iefix")format("embedded-opentype"),
		url("http://fonts4web.ru/fonts/GothamProMediumItalic/GothamProMediumItalic.woff") format("woff"),
		url("http://fonts4web.ru/fonts/GothamProMediumItalic/GothamProMediumItalic.ttf") format("truetype");
		font-style: normal;
		font-weight: italic;
	}
	
	@font-face {
		font-family: "Gotham";
		src: url("http://fonts4web.ru/fonts/GothamProLightItalic/GothamProLightItalic.eot");
		src: url("http://fonts4web.ru/fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix")format("embedded-opentype"),
		url("http://fonts4web.ru/fonts/GothamProLightItalic/GothamProLightItalic.woff") format("woff"),
		url("http://fonts4web.ru/fonts/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
		font-style: italic;
		font-weight: Light;
	}

	@font-face {
		font-family: "Gotham";
		src: url("http://fonts4web.ru/fonts/GothamProBlackItalic/GothamProBlackItalic.eot");
		src: url("http://fonts4web.ru/fonts/GothamProBlackItalic/GothamProBlackItalic.eot?#iefix")format("embedded-opentype"),
		url("http://fonts4web.ru/fonts/GothamProBlackItalic/GothamProBlackItalic.woff") format("woff"),
		url("http://fonts4web.ru/fonts/GothamProBlackItalic/GothamProBlackItalic.ttf") format("truetype");
		font-style: italic;
		font-weight: Black;
	}


	@font-face {
		font-family: "Gotham";
		src: url("http://fonts4web.ru/fonts/GothamProBoldItalic/GothamProBoldItalic.eot");
		src: url("http://fonts4web.ru/fonts/GothamProBoldItalic/GothamProBoldItalic.eot?#iefix")format("embedded-opentype"),
		url("http://fonts4web.ru/fonts/GothamProBoldItalic/GothamProBoldItalic.woff") format("woff"),
		url("http://fonts4web.ru/fonts/GothamProBoldItalic/GothamProBoldItalic.ttf") format("truetype");
		font-style: italic;
		font-weight: Bold;
	}
	
