	@font-face {
		font-family: "Gotham";
		src: url("http://fonts4web.ru/fonts/GothamProRegular/GothamProRegular.eot");
		src: url("http://fonts4web.ru/fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
		url("http://fonts4web.ru/fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
		url("http://fonts4web.ru/fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
	}
